.DS_Store
.env
.env.local
.copier-answers.yml

node_modules/
dist/
build/
coverage/
playwright-report/
test-results/

target/
bin/
obj/

{% if swift_app_stack | default('none') == 'ios' -%}
DerivedData/
*.xcresult
*.xcodeproj/*
!*.xcodeproj/project.xcworkspace/
*.xcodeproj/project.xcworkspace/*
!*.xcodeproj/project.xcworkspace/xcshareddata/
*.xcodeproj/project.xcworkspace/xcshareddata/*
!*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/*
!*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
*.xcworkspace/
xcuserdata/
{% endif %}

*.log
