{
  "indentation" : {
    "spaces" : 2
  },
  "lineLength" : 100,
  "maximumBlankLines" : 1,
  "multiElementCollectionTrailingCommas" : true,
  "respectsExistingLineBreaks" : true,
  "rules" : {
    "DoNotUseSemicolons" : true,
    "NoAssignmentInExpressions" : true,
    "OrderedImports" : true
  },
  "version" : 1
}
